Здравствуйте{{if .UserName}}, {{.UserName}}{{end}}!

Вы запросили сброс пароля. Перейдите по ссылке:
{{.ResetURL}}

Ссылка действительна {{.ExpiresMinutes}} минут.
Если вы не запрашивали сброс, проигнорируйте это письмо.
